<div class="hero-unit">

	  	<h1>welcome to test home page</h1>
			<p>
		You've found page for the
			<%= link_to "Gopal Patel", "http://gopalpatel.com" %>
		 website.

		<!-- ><a href="gopalpatel.com">gopal patel <a/> yay! </!-->
		</p>

			<p> random ness <q cite="http://google.com"> 
					and again <abbr title="this is an abbrivation"> of this? </abbr>
			</p>


		<p>

			<%= link_to "Sign up Now!", new_user_registration_path, class: "btn btn-primary btn-large"%>
		</p>

</div>

